.logo-lenovo {
  width: 181px;
  height: 53px;
}

.logo-asus {
  width: 190px;
  height: 150px;
}

.logo-hp {
  width: 181px;
  height: 100px;
}

.logo-acer {
  width: 181px;
  height: 100px;
}

.logo-axioo {
  margin-top: -20px;
  width: 181px;
  height: 120px;
}
