h1 {
  color: rgb(6, 10, 14);
}

.crd {
  background-color: transparent;
}

.header-1 {
  font-family: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Ubuntu:wght@700&display=swap");
  color: #f28705;
  font-size: 20px;
}

.header-2 {
  font-family: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Ubuntu:wght@700&display=swap");
  color: black;
  font-size: 50px;
  margin-top: -10px;
}
